![ga4](https://www.google-analytics.com/collect?v=2&tid=G-6VDTYWLKX6&cid=1&en=page_view&sid=1&dl=statmike%2Fvertex-ai-mlops%2FDev%2Fnew&dt=BQML+Demo+2024.ipynb)

# BQML DEMO 2024

---
## Colab Setup

To run this notebook in Colab click [![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/statmike/vertex-ai-mlops/blob/main/05%20-%20TensorFlow/TensorFlow/TensorFlow%20Basics%20-%20Data%20To%20Training.ipynb) and run the cells in this section.  Otherwise, skip this section.

This cell will authenticate to GCP (follow prompts in the popup).

In [1]:
PROJECT_ID = 'statmike-mlops-349915' # replace with project ID

In [2]:
try:
    import google.colab
    from google.colab import auth
    auth.authenticate_user()
    !gcloud config set project {PROJECT_ID}
except Exception:
    pass

---
## Installs

The list `packages` contains tuples of package import names and install names.  If the import name is not found then the install name is used to install quitely for the current user.

In [258]:
# tuples of (import name, install name)
packages = [
    ('google.cloud.bigquery', 'google-cloud-bigquery'),
    ('bigframes', 'bigframes'),
    ('google.cloud.bigquery_connection_v1', 'google-cloud-bigquery-connection'),
    ('plotly', 'plotly'),
    ('kaleido', 'kaleido')
]

import importlib
install = False
for package in packages:
    if not importlib.util.find_spec(package[0]):
        print(f'installing package {package[1]}')
        install = True
        !pip install {package[1]} -U -q --user
    elif len(package) == 3:
        if importlib.metadata.version(package[0]) < package[2]:
            print(f'updating package {package[1]}')
            install = True
            !pip install {package[1]} -U -q --user

In [4]:
#!sudo apt-get -qq install graphviz

### Restart Kernel (If Installs Occured)

After a kernel restart the code submission can start with the next cell after this one.

In [5]:
if install:
    import IPython
    app = IPython.Application.instance()
    app.kernel.do_shutdown(True)

---
## Setup

inputs:

In [6]:
project = !gcloud config get-value project
PROJECT_ID = project[0]
PROJECT_ID

'statmike-mlops-349915'

In [7]:
# BigQuery Parameters
BQ_PROJECT = PROJECT_ID
BQ_DATASET = 'bqml_2024'
BQ_TABLE_PREFIX = 'thelook'
BQ_REGION = 'us'
BQ_SOURCE_DATASET = 'bigquery-public-data.thelook_ecommerce'

packages:

In [261]:
from google.cloud import bigquery
from google.cloud import bigquery_connection_v1 as bq_connection
import bigframes.pandas as bpd
import pandas as pd
import numpy as np

from datetime import datetime, timedelta
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
pio.renderers.default = 'iframe'

clients:

In [9]:
bq = bigquery.Client(project = PROJECT_ID)
bpd.options.bigquery.project = PROJECT_ID

---
## Environment Setup

### BigQuery Dataset

In [70]:
try:
    ds = bq.get_dataset(f'{BQ_PROJECT}.{BQ_DATASET}')
    print('Found the BigQuery Dataset: ', ds.full_dataset_id)
except:
    ds = bigquery.DatasetReference(BQ_PROJECT, BQ_DATASET)
    ds.location = BQ_REGION
    ds = bq.create_dataset(dataset = ds, exists_ok = True)
    print('Created the BigQuery Dataset: ', ds.full_dataset_id)

Found the BigQuery Dataset:  statmike-mlops-349915:bqml_2024

### Connection Requirement

To make a remote connection using BigQuery ML, BigQuery uses a CLOUD_RESOURCE connection. [Reference](https://cloud.google.com/bigquery/docs/reference/standard-sql/bigqueryml-syntax-create-remote-model#connection)

Create a new connection with type `CLOUD_RESOURCE`: First, check for existing connection.

In [72]:
try:
    response = bq_connection.ConnectionServiceClient().get_connection(
            request = bq_connection.GetConnectionRequest(
                name = f"projects/{BQ_PROJECT}/locations/{BQ_REGION}/connections/{BQ_DATASET}"
            )
    )
    print(f'Found existing connection with service account: {response.cloud_resource.service_account_id}')
    service_account = response.cloud_resource.service_account_id
except Exception:
    request = bq_connection.CreateConnectionRequest(
        {
            "parent": f"projects/{BQ_PROJECT}/locations/{BQ_REGION}",
            "connection_id": f"{BQ_DATASET}",
            "connection": bq_connection.types.Connection(
                {
                    "friendly_name": f"{BQ_DATASET}",
                    "cloud_resource": bq_connection.CloudResourceProperties({})
                }
            )
        }
    )
    response = bq_connection.ConnectionServiceClient().create_connection(request)
    print(f'Created new connection with service account: {response.cloud_resource.service_account_id}')
    service_account = response.cloud_resource.service_account_id

Created new connection with service account: bqcx-1026793852137-d2h9@gcp-sa-bigquery-condel.iam.gserviceaccount.com

Assign the service account the Vertex AI User role:

In [73]:
# for llm usage on vertex
!gcloud projects add-iam-policy-binding {BQ_PROJECT} --member=serviceAccount:{service_account} --role=roles/aiplatform.user

Updated IAM policy for project [statmike-mlops-349915].
bindings:
- members:
  - serviceAccount:service-1026793852137@gcp-sa-aiplatform-cc.iam.gserviceaccount.com
  role: roles/aiplatform.customCodeServiceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-aiplatform-vm.iam.gserviceaccount.com
  role: roles/aiplatform.notebookServiceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-aiplatform.iam.gserviceaccount.com
  role: roles/aiplatform.serviceAgent
- members:
  - serviceAccount:bqcx-1026793852137-bmph@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-d2h9@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-dyw1@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-pdxa@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-te86@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-tqpc@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-zfly@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/aiplatform.user
- members:
  - serviceAccount:service-1026793852137@gcp-sa-artifactregistry.iam.gserviceaccount.com
  role: roles/artifactregistry.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  role: roles/bigquery.admin
- members:
  - serviceAccount:1026793852137@cloudservices.gserviceaccount.com
  role: roles/bigquery.dataOwner
- members:
  - serviceAccount:1026793852137@cloudbuild.gserviceaccount.com
  role: roles/cloudbuild.builds.builder
- members:
  - serviceAccount:service-1026793852137@gcp-sa-cloudbuild.iam.gserviceaccount.com
  role: roles/cloudbuild.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcf-admin-robot.iam.gserviceaccount.com
  role: roles/cloudfunctions.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-cloudscheduler.iam.gserviceaccount.com
  role: roles/cloudscheduler.serviceAgent
- members:
  - serviceAccount:service-1026793852137@compute-system.iam.gserviceaccount.com
  role: roles/compute.serviceAgent
- members:
  - serviceAccount:service-1026793852137@containerregistry.iam.gserviceaccount.com
  role: roles/containerregistry.ServiceAgent
- members:
  - serviceAccount:service-1026793852137@dataflow-service-producer-prod.iam.gserviceaccount.com
  role: roles/dataflow.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-dataform.iam.gserviceaccount.com
  role: roles/dataform.serviceAgent
- members:
  - serviceAccount:service-1026793852137@dataproc-accounts.iam.gserviceaccount.com
  role: roles/dataproc.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-discoveryengine.iam.gserviceaccount.com
  role: roles/discoveryengine.serviceAgent
- members:
  - serviceAccount:service-1026793852137@dlp-api.iam.gserviceaccount.com
  role: roles/dlp.serviceAgent
- members:
  - serviceAccount:bqcx-1026793852137-te86@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/documentai.apiUser
- members:
  - serviceAccount:bqcx-1026793852137-te86@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/documentai.viewer
- members:
  - serviceAccount:service-1026793852137@gcp-sa-prod-dai-core.iam.gserviceaccount.com
  role: roles/documentaicore.serviceAgent
- members:
  - serviceAccount:1026793852137@cloudservices.gserviceaccount.com
  role: roles/editor
- members:
  - serviceAccount:service-1026793852137@gcp-sa-networkmanagement.iam.gserviceaccount.com
  role: roles/networkmanagement.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-notebooks.iam.gserviceaccount.com
  role: roles/notebooks.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  - serviceAccount:1026793852137@cloudservices.gserviceaccount.com
  - user:admin@statmike.altostrat.com
  role: roles/owner
- members:
  - serviceAccount:service-1026793852137@gcp-sa-pubsub.iam.gserviceaccount.com
  role: roles/pubsub.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  role: roles/run.admin
- members:
  - serviceAccount:service-1026793852137@serverless-robot-prod.iam.gserviceaccount.com
  role: roles/run.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  role: roles/secretmanager.secretAccessor
- members:
  - serviceAccount:service-1026793852137@service-networking.iam.gserviceaccount.com
  role: roles/servicenetworking.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-speech.iam.gserviceaccount.com
  role: roles/speech.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  role: roles/storage.objectAdmin
- members:
  - serviceAccount:bqcx-1026793852137-te86@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/storage.objectViewer
- members:
  - user:showvik@statmike.altostrat.com
  role: roles/viewer
- members:
  - serviceAccount:service-1026793852137@gcp-sa-workstations.iam.gserviceaccount.com
  role: roles/workstations.serviceAgent
etag: BwYQKvSkV2g=
version: 1

In [176]:
# for cloud nlp usage:
!gcloud projects add-iam-policy-binding {BQ_PROJECT} --member=serviceAccount:{service_account} --role=roles/serviceusage.serviceUsageConsumer

Updated IAM policy for project [statmike-mlops-349915].
bindings:
- members:
  - serviceAccount:service-1026793852137@gcp-sa-aiplatform-cc.iam.gserviceaccount.com
  role: roles/aiplatform.customCodeServiceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-aiplatform-vm.iam.gserviceaccount.com
  role: roles/aiplatform.notebookServiceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-aiplatform.iam.gserviceaccount.com
  role: roles/aiplatform.serviceAgent
- members:
  - serviceAccount:bqcx-1026793852137-bmph@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-d2h9@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-dyw1@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-pdxa@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-te86@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-tqpc@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-zfly@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/aiplatform.user
- members:
  - serviceAccount:service-1026793852137@gcp-sa-artifactregistry.iam.gserviceaccount.com
  role: roles/artifactregistry.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  role: roles/bigquery.admin
- members:
  - serviceAccount:1026793852137@cloudservices.gserviceaccount.com
  role: roles/bigquery.dataOwner
- members:
  - serviceAccount:1026793852137@cloudbuild.gserviceaccount.com
  role: roles/cloudbuild.builds.builder
- members:
  - serviceAccount:service-1026793852137@gcp-sa-cloudbuild.iam.gserviceaccount.com
  role: roles/cloudbuild.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcf-admin-robot.iam.gserviceaccount.com
  role: roles/cloudfunctions.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-cloudscheduler.iam.gserviceaccount.com
  role: roles/cloudscheduler.serviceAgent
- members:
  - serviceAccount:service-1026793852137@compute-system.iam.gserviceaccount.com
  role: roles/compute.serviceAgent
- members:
  - serviceAccount:service-1026793852137@containerregistry.iam.gserviceaccount.com
  role: roles/containerregistry.ServiceAgent
- members:
  - serviceAccount:service-1026793852137@dataflow-service-producer-prod.iam.gserviceaccount.com
  role: roles/dataflow.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-dataform.iam.gserviceaccount.com
  role: roles/dataform.serviceAgent
- members:
  - serviceAccount:service-1026793852137@dataproc-accounts.iam.gserviceaccount.com
  role: roles/dataproc.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-discoveryengine.iam.gserviceaccount.com
  role: roles/discoveryengine.serviceAgent
- members:
  - serviceAccount:service-1026793852137@dlp-api.iam.gserviceaccount.com
  role: roles/dlp.serviceAgent
- members:
  - serviceAccount:bqcx-1026793852137-te86@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/documentai.apiUser
- members:
  - serviceAccount:bqcx-1026793852137-te86@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/documentai.viewer
- members:
  - serviceAccount:service-1026793852137@gcp-sa-prod-dai-core.iam.gserviceaccount.com
  role: roles/documentaicore.serviceAgent
- members:
  - serviceAccount:1026793852137@cloudservices.gserviceaccount.com
  role: roles/editor
- members:
  - serviceAccount:service-1026793852137@gcp-sa-networkmanagement.iam.gserviceaccount.com
  role: roles/networkmanagement.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-notebooks.iam.gserviceaccount.com
  role: roles/notebooks.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  - serviceAccount:1026793852137@cloudservices.gserviceaccount.com
  - user:admin@statmike.altostrat.com
  role: roles/owner
- members:
  - serviceAccount:service-1026793852137@gcp-sa-pubsub.iam.gserviceaccount.com
  role: roles/pubsub.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  role: roles/run.admin
- members:
  - serviceAccount:service-1026793852137@serverless-robot-prod.iam.gserviceaccount.com
  role: roles/run.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  role: roles/secretmanager.secretAccessor
- members:
  - serviceAccount:service-1026793852137@service-networking.iam.gserviceaccount.com
  role: roles/servicenetworking.serviceAgent
- members:
  - serviceAccount:bqcx-1026793852137-d2h9@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/serviceusage.serviceUsageConsumer
- members:
  - serviceAccount:service-1026793852137@gcp-sa-speech.iam.gserviceaccount.com
  role: roles/speech.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  role: roles/storage.objectAdmin
- members:
  - serviceAccount:bqcx-1026793852137-te86@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/storage.objectViewer
- members:
  - user:showvik@statmike.altostrat.com
  role: roles/viewer
- members:
  - serviceAccount:service-1026793852137@gcp-sa-workstations.iam.gserviceaccount.com
  role: roles/workstations.serviceAgent
etag: BwYQL6kvH3I=
version: 1

In [187]:
# for cloud translate usage:
!gcloud projects add-iam-policy-binding {BQ_PROJECT} --member=serviceAccount:{service_account} --role=roles/cloudtranslate.user

Updated IAM policy for project [statmike-mlops-349915].
bindings:
- members:
  - serviceAccount:service-1026793852137@gcp-sa-aiplatform-cc.iam.gserviceaccount.com
  role: roles/aiplatform.customCodeServiceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-aiplatform-vm.iam.gserviceaccount.com
  role: roles/aiplatform.notebookServiceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-aiplatform.iam.gserviceaccount.com
  role: roles/aiplatform.serviceAgent
- members:
  - serviceAccount:bqcx-1026793852137-bmph@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-d2h9@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-dyw1@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-pdxa@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-te86@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-tqpc@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  - serviceAccount:bqcx-1026793852137-zfly@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/aiplatform.user
- members:
  - serviceAccount:service-1026793852137@gcp-sa-artifactregistry.iam.gserviceaccount.com
  role: roles/artifactregistry.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  role: roles/bigquery.admin
- members:
  - serviceAccount:1026793852137@cloudservices.gserviceaccount.com
  role: roles/bigquery.dataOwner
- members:
  - serviceAccount:1026793852137@cloudbuild.gserviceaccount.com
  role: roles/cloudbuild.builds.builder
- members:
  - serviceAccount:service-1026793852137@gcp-sa-cloudbuild.iam.gserviceaccount.com
  role: roles/cloudbuild.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcf-admin-robot.iam.gserviceaccount.com
  role: roles/cloudfunctions.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-cloudscheduler.iam.gserviceaccount.com
  role: roles/cloudscheduler.serviceAgent
- members:
  - serviceAccount:bqcx-1026793852137-d2h9@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/cloudtranslate.user
- members:
  - serviceAccount:service-1026793852137@compute-system.iam.gserviceaccount.com
  role: roles/compute.serviceAgent
- members:
  - serviceAccount:service-1026793852137@containerregistry.iam.gserviceaccount.com
  role: roles/containerregistry.ServiceAgent
- members:
  - serviceAccount:service-1026793852137@dataflow-service-producer-prod.iam.gserviceaccount.com
  role: roles/dataflow.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-dataform.iam.gserviceaccount.com
  role: roles/dataform.serviceAgent
- members:
  - serviceAccount:service-1026793852137@dataproc-accounts.iam.gserviceaccount.com
  role: roles/dataproc.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-discoveryengine.iam.gserviceaccount.com
  role: roles/discoveryengine.serviceAgent
- members:
  - serviceAccount:service-1026793852137@dlp-api.iam.gserviceaccount.com
  role: roles/dlp.serviceAgent
- members:
  - serviceAccount:bqcx-1026793852137-te86@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/documentai.apiUser
- members:
  - serviceAccount:bqcx-1026793852137-te86@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/documentai.viewer
- members:
  - serviceAccount:service-1026793852137@gcp-sa-prod-dai-core.iam.gserviceaccount.com
  role: roles/documentaicore.serviceAgent
- members:
  - serviceAccount:1026793852137@cloudservices.gserviceaccount.com
  role: roles/editor
- members:
  - serviceAccount:service-1026793852137@gcp-sa-networkmanagement.iam.gserviceaccount.com
  role: roles/networkmanagement.serviceAgent
- members:
  - serviceAccount:service-1026793852137@gcp-sa-notebooks.iam.gserviceaccount.com
  role: roles/notebooks.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  - serviceAccount:1026793852137@cloudservices.gserviceaccount.com
  - user:admin@statmike.altostrat.com
  role: roles/owner
- members:
  - serviceAccount:service-1026793852137@gcp-sa-pubsub.iam.gserviceaccount.com
  role: roles/pubsub.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  role: roles/run.admin
- members:
  - serviceAccount:service-1026793852137@serverless-robot-prod.iam.gserviceaccount.com
  role: roles/run.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  role: roles/secretmanager.secretAccessor
- members:
  - serviceAccount:service-1026793852137@service-networking.iam.gserviceaccount.com
  role: roles/servicenetworking.serviceAgent
- members:
  - serviceAccount:bqcx-1026793852137-d2h9@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/serviceusage.serviceUsageConsumer
- members:
  - serviceAccount:service-1026793852137@gcp-sa-speech.iam.gserviceaccount.com
  role: roles/speech.serviceAgent
- members:
  - serviceAccount:1026793852137-compute@developer.gserviceaccount.com
  role: roles/storage.objectAdmin
- members:
  - serviceAccount:bqcx-1026793852137-te86@gcp-sa-bigquery-condel.iam.gserviceaccount.com
  role: roles/storage.objectViewer
- members:
  - user:showvik@statmike.altostrat.com
  role: roles/viewer
- members:
  - serviceAccount:service-1026793852137@gcp-sa-workstations.iam.gserviceaccount.com
  role: roles/workstations.serviceAgent
etag: BwYQL-3BDco=
version: 1

### Create The Remote Models In BigQuery

In [78]:
# Create Remote Model In BigQuery
query = f"""
CREATE OR REPLACE MODEL `{BQ_PROJECT}.{BQ_DATASET}.VERTEX_LLM`
    REMOTE WITH CONNECTION `{BQ_PROJECT}.{BQ_REGION}.{BQ_DATASET}`
    OPTIONS(ENDPOINT = 'text-bison@002')
"""
job = bq.query(query = query)
job.result()
job.state

'DONE'

In [79]:
print(query)

CREATE OR REPLACE MODEL `statmike-mlops-349915.bqml_2024.VERTEX_LLM`
    REMOTE WITH CONNECTION `statmike-mlops-349915.us.bqml_2024`
    OPTIONS(ENDPOINT = 'text-bison@002')

In [80]:
# Create Remote Model In BigQuery
query = f"""
CREATE OR REPLACE MODEL `{BQ_PROJECT}.{BQ_DATASET}.CLOUD_TRANSLATE`
    REMOTE WITH CONNECTION `{BQ_PROJECT}.{BQ_REGION}.{BQ_DATASET}`
    OPTIONS(REMOTE_SERVICE_TYPE = 'CLOUD_AI_TRANSLATE_V3')
"""
job = bq.query(query = query)
job.result()
job.state

'DONE'

In [81]:
print(query)

CREATE OR REPLACE MODEL `statmike-mlops-349915.bqml_2024.CLOUD_TRANSLATE`
    REMOTE WITH CONNECTION `statmike-mlops-349915.us.bqml_2024`
    OPTIONS(REMOTE_SERVICE_TYPE = 'CLOUD_AI_TRANSLATE_V3')

In [82]:
# Create Remote Model In BigQuery
query = f"""
CREATE OR REPLACE MODEL `{BQ_PROJECT}.{BQ_DATASET}.CLOUD_NLP`
    REMOTE WITH CONNECTION `{BQ_PROJECT}.{BQ_REGION}.{BQ_DATASET}`
    OPTIONS(REMOTE_SERVICE_TYPE = 'CLOUD_AI_NATURAL_LANGUAGE_V1')
"""
job = bq.query(query = query)
job.result()
job.state

'DONE'

In [83]:
print(query)

CREATE OR REPLACE MODEL `statmike-mlops-349915.bqml_2024.CLOUD_NLP`
    REMOTE WITH CONNECTION `statmike-mlops-349915.us.bqml_2024`
    OPTIONS(REMOTE_SERVICE_TYPE = 'CLOUD_AI_NATURAL_LANGUAGE_V1')

---
## Intro & Explore

In [177]:
query = f'''
CREATE OR REPLACE TABLE `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_topMensProducts` AS
WITH
    TOP5 AS (
        SELECT product_id, count(*) as total
        FROM `{BQ_SOURCE_DATASET}.order_items`
        GROUP BY product_id
    )
SELECT
    t.product_id,
    t.total,
    p.category,
    p.department,
    p.name
FROM TOP5 as t
JOIN `{BQ_SOURCE_DATASET}.products` as p on p.id = t.product_id
WHERE p.department = 'Men'
ORDER by t.total DESC
LIMIT 5
'''
print(query)

CREATE OR REPLACE TABLE `statmike-mlops-349915.bqml_2024.thelook_topMensProducts` AS
WITH
    TOP5 AS (
        SELECT product_id, count(*) as total
        FROM `bigquery-public-data.thelook_ecommerce.order_items`
        GROUP BY product_id
    )
SELECT
    t.product_id,
    t.total,
    p.category,
    p.department,
    p.name
FROM TOP5 as t
JOIN `bigquery-public-data.thelook_ecommerce.products` as p on p.id = t.product_id
WHERE p.department = 'Men'
ORDER by t.total DESC
LIMIT 5

In [178]:
job = bq.query(query = query)
job.result()

In [180]:
query = f'''
CREATE OR REPLACE TABLE `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_topMensProducts` AS
SELECT
    * EXCEPT(ml_generate_text_llm_result, ml_generate_text_status),
    ml_generate_text_llm_result as description
FROM ML.GENERATE_TEXT(
    MODEL `{BQ_PROJECT}.{BQ_DATASET}.VERTEX_LLM`,
    (SELECT *,
        CONCAT(
            'Create a descriptive paragraph of no more than 25 words for a product with in a department named ', department,
            ', category named "', category, '"',
            'and the following description: ', name
        ) as prompt
        FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_topMensProducts`),
    STRUCT(200 AS max_output_tokens, TRUE AS flatten_json_output)
)
'''
print(query)

CREATE OR REPLACE TABLE `statmike-mlops-349915.bqml_2024.thelook_topMensProducts` AS
SELECT
    * EXCEPT(ml_generate_text_llm_result, ml_generate_text_status),
    ml_generate_text_llm_result as description
FROM ML.GENERATE_TEXT(
    MODEL `statmike-mlops-349915.bqml_2024.VERTEX_LLM`,
    (SELECT *,
        CONCAT(
            'Create a descriptive paragraph of no more than 25 words for a product with in a department named ', department,
            ', category named "', category, '"',
            'and the following description: ', name
        ) as prompt
        FROM `statmike-mlops-349915.bqml_2024.thelook_topMensProducts`),
    STRUCT(200 AS max_output_tokens, TRUE AS flatten_json_output)
)

In [181]:
job = bq.query(query = query)
job.result()

In [183]:
query = f'''
CREATE OR REPLACE TABLE `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_topMensProducts` AS
SELECT
    * EXCEPT(text_content, ml_understand_text_result, ml_understand_text_status),
    ml_understand_text_result.document_sentiment.score as sentiment_score
FROM ML.UNDERSTAND_TEXT(
    MODEL `{BQ_PROJECT}.{BQ_DATASET}.CLOUD_NLP`,
    (SELECT *, description as text_content
        FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_topMensProducts`),
    STRUCT('ANALYZE_SENTIMENT' AS nlu_option)
)
'''
print(query)

CREATE OR REPLACE TABLE `statmike-mlops-349915.bqml_2024.thelook_topMensProducts` AS
SELECT
    * EXCEPT(text_content, ml_understand_text_result, ml_understand_text_status),
    ml_understand_text_result.document_sentiment.score as sentiment_score
FROM ML.UNDERSTAND_TEXT(
    MODEL `statmike-mlops-349915.bqml_2024.CLOUD_NLP`,
    (SELECT *, description as text_content
        FROM `statmike-mlops-349915.bqml_2024.thelook_topMensProducts`),
    STRUCT('ANALYZE_SENTIMENT' AS nlu_option)
)

In [184]:
job = bq.query(query = query)
job.result()

In [188]:
query = f'''
CREATE OR REPLACE TABLE `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_topMensProducts` AS
SELECT
    * EXCEPT(text_content, ml_translate_result, ml_translate_status),
    ml_translate_result.translations[0].translated_text
FROM ML.TRANSLATE(
    MODEL `{BQ_PROJECT}.{BQ_DATASET}.CLOUD_TRANSLATE`,
    (SELECT *, description as text_content
        FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_topMensProducts`),
    STRUCT('TRANSLATE_TEXT' AS translate_mode, 'es' AS target_language_code)
)
'''
print(query)

CREATE OR REPLACE TABLE `statmike-mlops-349915.bqml_2024.thelook_topMensProducts` AS
SELECT
    * EXCEPT(text_content, ml_translate_result, ml_translate_status),
    ml_translate_result.translations[0].translated_text
FROM ML.TRANSLATE(
    MODEL `statmike-mlops-349915.bqml_2024.CLOUD_TRANSLATE`,
    (SELECT *, description as text_content
        FROM `statmike-mlops-349915.bqml_2024.thelook_topMensProducts`),
    STRUCT('TRANSLATE_TEXT' AS translate_mode, 'es' AS target_language_code)
)

In [189]:
job = bq.query(query = query)
job.result()

---
## Prepare Data

In [227]:
query = f'''
CREATE OR REPLACE TABLE `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_raw` AS (
    SELECT
        DATE(o.created_at) as order_date,
        o.order_id as order_id,
        o.user_id AS customer_id,
        oi.sale_price as unit_price,
        oi.product_id as product_id,
        oi.sale_price as revenue,
        u.age as age,
        u.country as country,
        u.gender as gender
    FROM `{BQ_SOURCE_DATASET}.orders` as o
    JOIN `{BQ_SOURCE_DATASET}.order_items` as oi ON o.user_id = oi.user_id
    JOIN `{BQ_SOURCE_DATASET}.users` as u ON o.user_id = u.id
    #WHERE DATE(o.created_at) < DATE_SUB(CURRENT_DATE(), INTERVAL 12 MONTH)
);
'''

In [228]:
print(query)

CREATE OR REPLACE TABLE `statmike-mlops-349915.bqml_2024.thelook_raw` AS (
    SELECT
        DATE(o.created_at) as order_date,
        o.order_id as order_id,
        o.user_id AS customer_id,
        oi.sale_price as unit_price,
        oi.product_id as product_id,
        oi.sale_price as revenue,
        u.age as age,
        u.country as country,
        u.gender as gender
    FROM `bigquery-public-data.thelook_ecommerce.orders` as o
    JOIN `bigquery-public-data.thelook_ecommerce.order_items` as oi ON o.user_id = oi.user_id
    JOIN `bigquery-public-data.thelook_ecommerce.users` as u ON o.user_id = u.id
    #WHERE DATE(o.created_at) < DATE_SUB(CURRENT_DATE(), INTERVAL 12 MONTH)
);

In [229]:
job = bq.query(query = query)
job.result()

In [230]:
query = f"""
CREATE OR REPLACE TABLE `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_features` AS
WITH
    get_rfm AS (
        SELECT
            customer_id, age, gender, country,
            DATE_DIFF(DATE_SUB(CURRENT_DATE(), INTERVAL 12 MONTH), MAX(order_date), DAY) AS recency,
            COUNT(order_id) AS frequency,
            SUM(revenue) AS monetary,
        FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_raw`
        WHERE order_date < DATE_SUB(CURRENT_DATE(), INTERVAL 12 MONTH)
        GROUP BY customer_id, age, gender, country
    ),
    get_quartiles AS (
        SELECT
            customer_id,
            NTILE(4) OVER (ORDER BY recency ASC) AS recency_quartile,
            NTILE(4) OVER (ORDER BY frequency DESC) AS frequency_quartile,
            NTILE(4) OVER (ORDER BY monetary DESC) AS monetary_quartile,
        FROM get_rfm
    ),
    get_rfm_score AS (
        SELECT
            customer_id,
            recency_quartile + frequency_quartile + monetary_quartile AS rfm_score
        FROM get_quartiles
    )
SELECT
    CAST(rfm.customer_id AS STRING) AS customer_id,
    rfm.age,
    rfm.gender,
    rfm.country,
    rfm.recency,
    rfm.frequency,
    rfm.monetary,
    q.recency_quartile,
    q.frequency_quartile,
    q.monetary_quartile,
    rfms.rfm_score
FROM get_rfm as rfm
LEFT JOIN get_quartiles as q ON rfm.customer_id = q.customer_id
LEFT JOIN get_rfm_score as rfms ON rfm.customer_id = rfms.customer_id
"""

In [231]:
print(query)

CREATE OR REPLACE TABLE `statmike-mlops-349915.bqml_2024.thelook_features` AS
WITH
    get_rfm AS (
        SELECT
            customer_id, age, gender, country,
            DATE_DIFF(DATE_SUB(CURRENT_DATE(), INTERVAL 12 MONTH), MAX(order_date), DAY) AS recency,
            COUNT(order_id) AS frequency,
            SUM(revenue) AS monetary,
        FROM `statmike-mlops-349915.bqml_2024.thelook_raw`
        WHERE order_date < DATE_SUB(CURRENT_DATE(), INTERVAL 12 MONTH)
        GROUP BY customer_id, age, gender, country
    ),
    get_quartiles AS (
        SELECT
            customer_id,
            NTILE(4) OVER (ORDER BY recency ASC) AS recency_quartile,
            NTILE(4) OVER (ORDER BY frequency DESC) AS frequency_quartile,
            NTILE(4) OVER (ORDER BY monetary DESC) AS monetary_quartile,
        FROM get_rfm
    ),
    get_rfm_score AS (
        SELECT
            customer_id,
            recency_quartile + frequency_quartile + monetary_quartile AS rfm_score
        FROM get_quartiles
    )
SELECT
    CAST(rfm.customer_id AS STRING) AS customer_id,
    rfm.age,
    rfm.gender,
    rfm.country,
    rfm.recency,
    rfm.frequency,
    rfm.monetary,
    q.recency_quartile,
    q.frequency_quartile,
    q.monetary_quartile,
    rfms.rfm_score
FROM get_rfm as rfm
LEFT JOIN get_quartiles as q ON rfm.customer_id = q.customer_id
LEFT JOIN get_rfm_score as rfms ON rfm.customer_id = rfms.customer_id

In [232]:
job = bq.query(query = query)
job.result()

---
## Customer Segmentation

In [23]:
query = f'''
CREATE MODEL IF NOT EXISTS `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_features_kmeans`
OPTIONS (
    # model specs
        model_type = 'KMEANS',
        num_clusters = HPARAM_RANGE(2, 20),
        kmeans_init_method = 'KMEANS++',
        distance_type = 'EUCLIDEAN', 
        standardize_features = TRUE,
        
    # training specs
        max_iterations = 25,
        early_stop = TRUE,
        min_rel_progress = 0.005,
        
    # hyperparameter specs
        hparam_tuning_algorithm = 'VIZIER_DEFAULT',
        hparam_tuning_objectives = ['davies_bouldin_index'],
        num_trials = 12,
        max_parallel_trials = 3
    ) AS
SELECT * EXCEPT(customer_id)
FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_features`
'''

In [24]:
print(query)

CREATE MODEL IF NOT EXISTS `statmike-mlops-349915.bqml_2024.thelook_features_kmeans`
OPTIONS (
        # model specs
        model_type = 'KMEANS',
        num_clusters = HPARAM_RANGE(2, 20),
        kmeans_init_method = 'KMEANS++',
        distance_type = 'EUCLIDEAN',
        standardize_features = TRUE,

        # training specs
        max_iterations = 25,
        early_stop = TRUE,
        min_rel_progress = 0.005,

        # hyperparameter specs
        hparam_tuning_algorithm = 'VIZIER_DEFAULT',
        hparam_tuning_objectives = ['davies_bouldin_index'],
        num_trials = 12,
        max_parallel_trials = 3
    ) AS
SELECT * EXCEPT(customer_id)
FROM `statmike-mlops-349915.bqml_2024.thelook_features`

In [25]:
job = bq.query(query = query)
job.result()

In [29]:
query = f'''
SELECT *
FROM ML.PREDICT (
    MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_features_kmeans`,
    (SELECT * FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_features` LIMIT 5)
)
'''

In [30]:
print(query)

SELECT *
FROM ML.PREDICT (
    MODEL `statmike-mlops-349915.bqml_2024.thelook_features_kmeans`,
    (SELECT * FROM `statmike-mlops-349915.bqml_2024.thelook_features` LIMIT 5)
)

In [31]:
job = bq.query(query = query)
job.result()
job.to_dataframe()

,trial_id,CENTROID_ID,NEAREST_CENTROIDS_DISTANCE,customer_id,age,gender,country,recency,frequency,monetary,recency_quartile,frequency_quartile,monetary_quartile,rfm_score
0,9,4,"[{'CENTROID_ID': 4, 'DISTANCE': 1.622465202475...",96858,25,M,United States,256,15,839.730002,2,1,1,4
1,9,5,"[{'CENTROID_ID': 5, 'DISTANCE': 1.276421759796...",12924,43,M,China,256,6,418.979996,2,1,1,4
2,9,5,"[{'CENTROID_ID': 5, 'DISTANCE': 2.007600684805...",34914,66,M,United Kingdom,256,8,567.260008,2,1,1,4
3,9,5,"[{'CENTROID_ID': 5, 'DISTANCE': 1.926941909655...",61152,29,F,Brasil,256,6,747.160000,2,1,1,4
4,9,4,"[{'CENTROID_ID': 4, 'DISTANCE': 1.350996319935...",5150,45,F,Australia,256,18,980.790018,2,1,1,4

In [225]:
query = f'''
SELECT *
FROM (
    SELECT *
    FROM ML.DETECT_ANOMALIES (
        MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_features_kmeans`,
        STRUCT(0.01 AS contamination),
        (SELECT * FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_features`)
    )
)
WHERE is_anomaly = TRUE
ORDER BY normalized_distance DESC
'''
print(query)

SELECT *
FROM (
    SELECT *
    FROM ML.DETECT_ANOMALIES (
        MODEL `statmike-mlops-349915.bqml_2024.thelook_features_kmeans`,
        STRUCT(0.01 AS contamination),
        (SELECT * FROM `statmike-mlops-349915.bqml_2024.thelook_features`)
    )
)
WHERE is_anomaly = TRUE
ORDER BY normalized_distance DESC

In [226]:
job = bq.query(query = query)
job.result()
job.to_dataframe()

,trial_id,is_anomaly,normalized_distance,CENTROID_ID,customer_id,age,gender,country,recency,frequency,monetary,recency_quartile,frequency_quartile,monetary_quartile,rfm_score
0,9,True,3.475489,3,69909,66,M,Germany,168,40,6026.319988,2,1,1,4
1,9,True,3.322007,3,65171,23,F,France,153,36,5924.119995,2,1,1,4
2,9,True,2.932821,3,71161,35,M,Belgium,220,36,5500.040016,2,1,1,4
3,9,True,2.849891,3,88447,38,M,United States,123,40,5326.719986,2,1,1,4
4,9,True,2.802084,3,60215,39,F,China,83,44,5129.719994,1,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,9,True,1.411050,1,3084,40,F,Germany,1108,10,966.799971,4,1,1,6
430,9,True,1.410962,4,48406,27,M,Brasil,646,9,1210.080002,4,1,1,6
431,9,True,1.410729,8,47029,22,M,United Kingdom,1229,2,125.950001,4,2,2,9
432,9,True,1.410650,1,27572,29,M,China,1363,4,175.410000,4,2,2,8
433,9,True,1.410256,1,71276,47,F,Brasil,1360,4,139.869999,4,2,2,8

In [213]:
query = f'''
CREATE OR REPLACE TABLE `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_segmentSummary` AS
WITH
    SEGMENTS AS (
        SELECT * EXCEPT(TRIAL_ID, NEAREST_CENTROIDS_DISTANCE)
        FROM ML.PREDICT (
            MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_features_kmeans`,
            (SELECT * FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_features`)
        )
    )
SELECT
    CENTROID_ID,
    100 * (count(*) / sum(count(*)) OVER()) AS pct,
    AVG(age) AS avg_age,
    APPROX_TOP_COUNT(gender, 1)[OFFSET(0)].value AS mode_gender,
    APPROX_TOP_COUNT(country, 1)[OFFSET(0)].value AS first_country,
    APPROX_TOP_COUNT(country, 2)[OFFSET(1)].value AS second_country,
    APPROX_TOP_COUNT(country, 3)[OFFSET(2)].value AS third_country,
    APPROX_TOP_COUNT(country, 4)[OFFSET(3)].value AS fourth_country,
    AVG(recency) AS avg_recency,
    AVG(frequency) AS avg_frequency,
    AVG(monetary) AS avg_monetary,
    APPROX_TOP_COUNT(recency_quartile, 1)[OFFSET(0)].value AS mode_recency_quartile,
    APPROX_TOP_COUNT(frequency_quartile, 1)[OFFSET(0)].value AS mode_frequency_quartile,
    APPROX_TOP_COUNT(monetary_quartile, 1)[OFFSET(0)].value AS mode_monetary_quartile,
    AVG(rfm_score) as avg_rfm_score
FROM SEGMENTS
GROUP BY CENTROID_ID
ORDER BY CENTROID_ID
'''

In [214]:
print(query)

CREATE OR REPLACE TABLE `statmike-mlops-349915.bqml_2024.thelook_segmentSummary` AS
WITH
    SEGMENTS AS (
        SELECT * EXCEPT(TRIAL_ID, NEAREST_CENTROIDS_DISTANCE)
        FROM ML.PREDICT (
            MODEL `statmike-mlops-349915.bqml_2024.thelook_features_kmeans`,
            (SELECT * FROM `statmike-mlops-349915.bqml_2024.thelook_features`)
        )
    )
SELECT
    CENTROID_ID,
    100 * (count(*) / sum(count(*)) OVER()) AS pct,
    AVG(age) AS avg_age,
    APPROX_TOP_COUNT(gender, 1)[OFFSET(0)].value AS mode_gender,
    APPROX_TOP_COUNT(country, 1)[OFFSET(0)].value AS first_country,
    APPROX_TOP_COUNT(country, 2)[OFFSET(1)].value AS second_country,
    APPROX_TOP_COUNT(country, 3)[OFFSET(2)].value AS third_country,
    APPROX_TOP_COUNT(country, 4)[OFFSET(3)].value AS fourth_country,
    AVG(recency) AS avg_recency,
    AVG(frequency) AS avg_frequency,
    AVG(monetary) AS avg_monetary,
    APPROX_TOP_COUNT(recency_quartile, 1)[OFFSET(0)].value AS mode_recency_quartile,
    APPROX_TOP_COUNT(frequency_quartile, 1)[OFFSET(0)].value AS mode_frequency_quartile,
    APPROX_TOP_COUNT(monetary_quartile, 1)[OFFSET(0)].value AS mode_monetary_quartile,
    AVG(rfm_score) as avg_rfm_score
FROM SEGMENTS
GROUP BY CENTROID_ID
ORDER BY CENTROID_ID

In [215]:
job = bq.query(query = query)
job.result()

In [216]:
query = f'''
WITH
    SHOTS AS (
        SELECT
            CONCAT(
                'Cluster ', CAST(CENTROID_ID AS STRING), ', ',
                CAST(ROUND(pct, 2) AS STRING), ' percent of customers, ',
                CAST(ROUND(avg_age, 2) AS STRING), ' average age of customers, ',
                CAST(ROUND(avg_recency, 2) AS STRING), ' average days since order, ',
                CAST(ROUND(avg_frequency, 2) AS STRING), ' average total orders, ', 
                CAST(ROUND(avg_monetary, 2) AS STRING), ' average total spend, ',
                CAST(mode_recency_quartile AS STRING), ' most common quartile for days since order, ',
                CAST(mode_frequency_quartile AS STRING), ' most common quartile for total orders, ',
                CAST(mode_monetary_quartile AS STRING), ' most common quartile for total spend, ',
                'most common countries: ', first_country, ', ', second_country, ', ', third_country, ', ', fourth_country,
                '.'
            ) as shot
        FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_segmentSummary`
    ),
    PROMPT AS (
        SELECT
            CONCAT(
                'The customers for your retail store have be grouped in clusters. ',
                'Create a description for each of these clusters:',
                '\\n\\n',
                STRING_AGG(shot, '\\n')
            ) as prompt
        FROM SHOTS
    )
SELECT *
FROM PROMPT
'''

In [217]:
print(query)

WITH
    SHOTS AS (
        SELECT
            CONCAT(
                'Cluster ', CAST(CENTROID_ID AS STRING), ', ',
                CAST(ROUND(pct, 2) AS STRING), ' percent of customers, ',
                CAST(ROUND(avg_age, 2) AS STRING), ' average age of customers, ',
                CAST(ROUND(avg_recency, 2) AS STRING), ' average days since order, ',
                CAST(ROUND(avg_frequency, 2) AS STRING), ' average total orders, ',
                CAST(ROUND(avg_monetary, 2) AS STRING), ' average total spend, ',
                CAST(mode_recency_quartile AS STRING), ' most common quartile for days since order, ',
                CAST(mode_frequency_quartile AS STRING), ' most common quartile for total orders, ',
                CAST(mode_monetary_quartile AS STRING), ' most common quartile for total spend, ',
                'most common countries: ', first_country, ', ', second_country, ', ', third_country, ', ', fourth_country,
                '.'
            ) as shot
        FROM `statmike-mlops-349915.bqml_2024.thelook_segmentSummary`
    ),
    PROMPT AS (
        SELECT
            CONCAT(
                'The customers for your retail store have be grouped in clusters. ',
                'Create a description for each of these clusters:',
                '\n\n',
                STRING_AGG(shot, '\n')
            ) as prompt
        FROM SHOTS
    )
SELECT *
FROM PROMPT

In [218]:
job = bq.query(query = query)
job.result()
result = job.to_dataframe()
result

                                              prompt
0  The customers for your retail store have be gr...

In [219]:
print(result['prompt'].iloc[0])

The customers for your retail store have be grouped in clusters. Create a description for each of these clusters:

Cluster 1, 13.65 percent of customers, 42.58 average age of customers, 617.76 average days since order, 5.39 average total orders, 337.03 average total spend, 4 most common quartile for days since order, 1 most common quartile for total orders, 1 most common quartile for total spend, most common countries: China, United States, Brasil, South Korea.
Cluster 2, 13.77 percent of customers, 27.06 average age of customers, 187.85 average days since order, 2.93 average total orders, 164.61 average total spend, 1 most common quartile for days since order, 2 most common quartile for total orders, 2 most common quartile for total spend, most common countries: China, United States, Brasil, South Korea.
Cluster 3, 1.11 percent of customers, 42.07 average age of customers, 200.99 average days since order, 25.24 average total orders, 2253.14 average total spend, 1 most common quartile for days since order, 1 most common quartile for total orders, 1 most common quartile for total spend, most common countries: China, United States, Brasil, South Korea.
Cluster 4, 5.94 percent of customers, 40.45 average age of customers, 235.69 average days since order, 16.76 average total orders, 1014.62 average total spend, 2 most common quartile for days since order, 1 most common quartile for total orders, 1 most common quartile for total spend, most common countries: China, United States, Brasil, South Korea.
Cluster 5, 13.3 percent of customers, 44.68 average age of customers, 112.09 average days since order, 6.83 average total orders, 406.48 average total spend, 1 most common quartile for days since order, 1 most common quartile for total orders, 1 most common quartile for total spend, most common countries: China, United States, Brasil, South Korea.
Cluster 6, 17.14 percent of customers, 30.91 average age of customers, 273.1 average days since order, 1.14 average total orders, 45.43 average total spend, 3 most common quartile for days since order, 4 most common quartile for total orders, 4 most common quartile for total spend, most common countries: China, United States, Brasil, South Korea.
Cluster 7, 16.5 percent of customers, 58.52 average age of customers, 207.34 average days since order, 1.7 average total orders, 86.11 average total spend, 2 most common quartile for days since order, 3 most common quartile for total orders, 3 most common quartile for total spend, most common countries: China, United States, Brasil, United Kingdom.
Cluster 8, 18.59 percent of customers, 41.85 average age of customers, 835.48 average days since order, 1.4 average total orders, 69.3 average total spend, 4 most common quartile for days since order, 4 most common quartile for total orders, 4 most common quartile for total spend, most common countries: China, United States, Brasil, South Korea.

In [220]:
query = f'''
WITH
    SHOTS AS (
        SELECT
            CONCAT(
                'Cluster ', CAST(CENTROID_ID AS STRING), ', ',
                CAST(ROUND(pct, 2) AS STRING), ' percent of customers, ',
                CAST(ROUND(avg_age, 2) AS STRING), ' average age of customers, ',
                CAST(ROUND(avg_recency, 2) AS STRING), ' average days since order, ',
                CAST(ROUND(avg_frequency, 2) AS STRING), ' average total orders, ', 
                CAST(ROUND(avg_monetary, 2) AS STRING), ' average total spend, ',
                CAST(mode_recency_quartile AS STRING), ' most common quartile for days since order, ',
                CAST(mode_frequency_quartile AS STRING), ' most common quartile for total orders, ',
                CAST(mode_monetary_quartile AS STRING), ' most common quartile for total spend, ',
                'most common countries: ', first_country, ', ', second_country, ', ', third_country, ', ', fourth_country,
                '.'
            ) as shot
        FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_segmentSummary`
    ),
    PROMPT AS (
        SELECT
            CONCAT(
                'The customers for your retail store have be grouped in clusters. ',
                'Create a brief description for each of these clusters:',
                '\\n\\n',
                STRING_AGG(shot, '\\n')
            ) as prompt
        FROM SHOTS
    )
SELECT
    ml_generate_text_llm_result as response
FROM ML.GENERATE_TEXT(
    MODEL `{BQ_PROJECT}.{BQ_DATASET}.VERTEX_LLM`,
    (SELECT * FROM PROMPT),
    STRUCT(1000 AS max_output_tokens, TRUE AS flatten_json_output)
)
'''
print(query)

WITH
    SHOTS AS (
        SELECT
            CONCAT(
                'Cluster ', CAST(CENTROID_ID AS STRING), ', ',
                CAST(ROUND(pct, 2) AS STRING), ' percent of customers, ',
                CAST(ROUND(avg_age, 2) AS STRING), ' average age of customers, ',
                CAST(ROUND(avg_recency, 2) AS STRING), ' average days since order, ',
                CAST(ROUND(avg_frequency, 2) AS STRING), ' average total orders, ',
                CAST(ROUND(avg_monetary, 2) AS STRING), ' average total spend, ',
                CAST(mode_recency_quartile AS STRING), ' most common quartile for days since order, ',
                CAST(mode_frequency_quartile AS STRING), ' most common quartile for total orders, ',
                CAST(mode_monetary_quartile AS STRING), ' most common quartile for total spend, ',
                'most common countries: ', first_country, ', ', second_country, ', ', third_country, ', ', fourth_country,
                '.'
            ) as shot
        FROM `statmike-mlops-349915.bqml_2024.thelook_segmentSummary`
    ),
    PROMPT AS (
        SELECT
            CONCAT(
                'The customers for your retail store have be grouped in clusters. ',
                'Create a brief description for each of these clusters:',
                '\n\n',
                STRING_AGG(shot, '\n')
            ) as prompt
        FROM SHOTS
    )
SELECT
    ml_generate_text_llm_result as response
FROM ML.GENERATE_TEXT(
    MODEL `statmike-mlops-349915.bqml_2024.VERTEX_LLM`,
    (SELECT * FROM PROMPT),
    STRUCT(1000 AS max_output_tokens, TRUE AS flatten_json_output)
)

In [221]:
job = bq.query(query = query)
job.result()
result = job.to_dataframe()
result

                                            response
0   **Cluster 1: Loyal Customers**\n- Middle-aged...

In [222]:
print(result['response'].iloc[0])

 **Cluster 1: Loyal Customers**
- Middle-aged customers (average age: 42.58)
- Long-term customers (average days since order: 617.76)
- High-value customers (average total spend: 337.03)
- Most common countries: China, United States, Brazil, South Korea

**Cluster 2: Frequent Buyers**
- Younger customers (average age: 27.06)
- Frequent buyers (average total orders: 2.93)
- Moderate spenders (average total spend: 164.61)
- Most common countries: China, United States, Brazil, South Korea

**Cluster 3: Big Spenders**
- Middle-aged customers (average age: 42.07)
- High-frequency buyers (average total orders: 25.24)
- Highest spenders (average total spend: 2253.14)
- Most common countries: China, United States, Brazil, South Korea

**Cluster 4: Occasional Buyers**
- Middle-aged customers (average age: 40.45)
- Occasional buyers (average total orders: 16.76)
- High spenders (average total spend: 1014.62)
- Most common countries: China, United States, Brazil, South Korea

**Cluster 5: Steady Customers**
- Older customers (average age: 44.68)
- Steady customers (average days since order: 112.09)
- Moderate spenders (average total spend: 406.48)
- Most common countries: China, United States, Brazil, South Korea

**Cluster 6: Low-Engagement Customers**
- Younger customers (average age: 30.91)
- Low-engagement customers (average total orders: 1.14)
- Low spenders (average total spend: 45.43)
- Most common countries: China, United States, Brazil, South Korea

**Cluster 7: Senior Customers**
- Senior customers (average age: 58.52)
- Occasional buyers (average total orders: 1.7)
- Low spenders (average total spend: 86.11)
- Most common countries: China, United States, Brazil, United Kingdom

**Cluster 8: Dormant Customers**
- Middle-aged customers (average age: 41.85)
- Dormant customers (average days since order: 835.48)
- Low-engagement customers (average total orders: 1.4)
- Low spenders (average total spend: 69.3)
- Most common countries: China, United States, Brazil, South Korea

---
## Forecasting With Core Customers

In [284]:
query = f'''
CREATE OR REPLACE TABLE `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_forecast` AS
    WITH
        SEGMENTS AS (
            SELECT customer_id, centroid_id as cluster
            FROM ML.PREDICT (
                MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_features_kmeans`,
                (SELECT * FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_features`)
            )
        )
    SELECT r.order_date, s.cluster, SUM(r.revenue) as total_revenue
    FROM SEGMENTS as s
    JOIN `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_raw` as r ON CAST(r.customer_id AS STRING) = s.customer_id
    GROUP BY s.cluster, r.order_date
    ORDER BY s.cluster, r.order_date
;
'''

In [285]:
print(query)

CREATE OR REPLACE TABLE `statmike-mlops-349915.bqml_2024.thelook_forecast` AS
    WITH
        SEGMENTS AS (
            SELECT customer_id, centroid_id as cluster
            FROM ML.PREDICT (
                MODEL `statmike-mlops-349915.bqml_2024.thelook_features_kmeans`,
                (SELECT * FROM `statmike-mlops-349915.bqml_2024.thelook_features`)
            )
        )
    SELECT r.order_date, s.cluster, SUM(r.revenue) as total_revenue
    FROM SEGMENTS as s
    JOIN `statmike-mlops-349915.bqml_2024.thelook_raw` as r ON CAST(r.customer_id AS STRING) = s.customer_id
    GROUP BY s.cluster, r.order_date
    ORDER BY s.cluster, r.order_date
;

In [286]:
job = bq.query(query = query)
job.result()

In [287]:
query = f"""
CREATE MODEL IF NOT EXISTS `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_arimaplus`
OPTIONS
    (model_type = 'ARIMA_PLUS',
    time_series_timestamp_col = 'order_date',
    time_series_data_col = 'total_revenue',
    time_series_id_col = 'cluster',
    data_frequency = 'DAILY',
    auto_arima_max_order = 5,
    holiday_region = ['CN', 'BR', 'KR', 'US'],
    horizon = 365
    #forecast_limit_lower_bound = 0
    ) AS
SELECT *
FROM `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_forecast`
WHERE order_date < DATE_SUB(CURRENT_DATE(), INTERVAL 12 MONTH)
"""
job = bq.query(query)
job.result()
(job.ended-job.started).total_seconds()

1.044

In [288]:
print(query)

CREATE MODEL IF NOT EXISTS `statmike-mlops-349915.bqml_2024.thelook_arimaplus`
OPTIONS
    (model_type = 'ARIMA_PLUS',
    time_series_timestamp_col = 'order_date',
    time_series_data_col = 'total_revenue',
    time_series_id_col = 'cluster',
    data_frequency = 'DAILY',
    auto_arima_max_order = 5,
    holiday_region = ['CN', 'BR', 'KR', 'US'],
    horizon = 365
    #forecast_limit_lower_bound = 0
    ) AS
SELECT *
FROM `statmike-mlops-349915.bqml_2024.thelook_forecast`
WHERE order_date < DATE_SUB(CURRENT_DATE(), INTERVAL 12 MONTH)

In [289]:
query = f'''
CREATE OR REPLACE TABLE `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_forecastResult` AS
SELECT *, 
    EXTRACT(DATE FROM time_series_timestamp) AS order_date
FROM ML.EXPLAIN_FORECAST(
    MODEL `{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_arimaplus`,
    STRUCT(365 AS horizon, 0.95 AS confidence_level))
ORDER BY cluster, order_date
'''
print(query)

CREATE OR REPLACE TABLE `statmike-mlops-349915.bqml_2024.thelook_forecastResult` AS
SELECT *,
    EXTRACT(DATE FROM time_series_timestamp) AS order_date
FROM ML.EXPLAIN_FORECAST(
    MODEL `statmike-mlops-349915.bqml_2024.thelook_arimaplus`,
    STRUCT(365 AS horizon, 0.95 AS confidence_level))
ORDER BY cluster, order_date

In [290]:
job = bq.query(query)
job.result()
(job.ended-job.started).total_seconds()

3.209

### SWITCH TO DATAFRAMES WORK

In [300]:
forecast = bpd.read_gbq(f'{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_forecast')
forecastResult = bpd.read_gbq(f'{BQ_PROJECT}.{BQ_DATASET}.{BQ_TABLE_PREFIX}_forecastResult')

In [301]:
type(forecast)

bigframes.dataframe.DataFrame

In [302]:
forecast.head()

  order_date  cluster  total_revenue
0 2023-11-12        2        1157.88
1 2020-04-26        3     489.439997
2 2023-02-23        5    5440.819984
3 2019-07-21        8         149.59
4 2023-12-29        7     236.940001

[5 rows x 3 columns]

In [303]:
forecastResult.head()

,cluster,time_series_timestamp,time_series_type,time_series_data,time_series_adjusted_data,standard_error,confidence_level,prediction_interval_lower_bound,prediction_interval_upper_bound,trend,...,holiday_effect_US_ElectionDay,holiday_effect_US_IndependenceDay,holiday_effect_US_Juneteenth,holiday_effect_US_LaborDay,holiday_effect_US_MemorialDay,holiday_effect_US_MLKDay,holiday_effect_US_PresidentDay,holiday_effect_US_Superbowl,holiday_effect_VeteranDay,order_date
0,1,2020-08-24 00:00:00+00:00,history,1370.959996,2030.731062,371.151013,<NA>,<NA>,<NA>,2060.04984,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-08-24
1,2,2024-01-05 00:00:00+00:00,forecast,1594.387932,1594.387932,940.184289,0.95,-245.043228,3433.819092,1613.051422,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024-01-05
2,8,2023-11-08 00:00:00+00:00,forecast,513.050189,513.050189,187.208142,0.95,146.785304,879.315073,512.827745,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-11-08
3,5,2023-03-28 00:00:00+00:00,forecast,7997.754361,7997.754361,419.812727,0.95,7176.408354,8819.100367,7297.571925,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-03-28
4,2,2023-04-29 00:00:00+00:00,forecast,1556.979198,1556.979198,491.300876,0.95,595.769623,2518.188773,1613.212365,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-04-29

In [314]:
rawSeries = forecast.to_pandas(ordered = True).sort_values(['cluster', 'order_date'])
explain = forecastResult.to_pandas(ordered = True).sort_values(['cluster', 'order_date'])

In [310]:
rawSeries['order_date'] = pd.to_datetime(rawSeries['order_date'])
explain['order_date'] = pd.to_datetime(explain['order_date'])

In [315]:
rawSeries['order_date'].iloc[0]

datetime.date(2019, 1, 8)

In [311]:
TIME_COLUMN = 'order_date'
SERIES_COLUMN = 'cluster'
TARGET_COLUMN = 'total_revenue'
viz_limit = 10

In [312]:
# NA values in Pandas will not convert to JSON which Plotly uses:
rawSeries = rawSeries.fillna(np.nan).replace([np.nan], [None])

# create a figure:
fig = go.Figure()

# get a list of colors to use:
colors = px.colors.qualitative.Plotly

# list of columns to plot over time : target and covariates
variables = [TARGET_COLUMN] # + COVARIATE_COLUMNS # no covariate for univarate forecasting

# create dropdown/button to toggle series
buttons = []
b = 0 # default button index

# iterate through series:
series = rawSeries[SERIES_COLUMN].unique().tolist()[0:viz_limit]
for s in series:    
    # iterate trhough columns
    for y, v in enumerate(variables):
        fig.add_trace(
            go.Scatter(
                x = rawSeries[rawSeries[SERIES_COLUMN]==s][TIME_COLUMN],
                y = rawSeries[rawSeries[SERIES_COLUMN]==s][v],
                name = f'{v}',
                text = rawSeries[rawSeries[SERIES_COLUMN]==s][v],
                yaxis = f"y{y+1}",
                hoverinfo='name+x+text',
                line = {'width': 0.5},
                marker = {'size': 8},
                mode = 'lines+markers',
                showlegend = False,
                visible = (b==0) # make a series visible as default: this uses the first series
            )
        )
        if y == 0: # add the forecast
            # add the forecast prediction funnel to test and horizon: lower
            fig.add_trace(
                go.Scatter(
                    x = explain[explain[SERIES_COLUMN]==s][TIME_COLUMN],
                    y = explain[explain[SERIES_COLUMN]==s]['prediction_interval_lower_bound'],
                    name = f'Lower Prediction: {v}',
                    text = explain[explain[SERIES_COLUMN]==s]['prediction_interval_lower_bound'],
                    yaxis = f"y{y+1}",
                    hoverinfo='name+x+text',
                    line = {'width': 2, 'color': 'rgb(0,128,0)'},
                    mode = 'lines',
                    showlegend = False,
                    visible = (b==0) # make a series visible as default: this uses the first series
                )
            )
            # add the forecast prediction funnel to test and horizon: upper
            fig.add_trace(
                go.Scatter(
                    x = explain[explain[SERIES_COLUMN]==s][TIME_COLUMN],
                    y = explain[explain[SERIES_COLUMN]==s]['prediction_interval_upper_bound'],
                    name = f'Upper Prediction: {v}',
                    text = explain[explain[SERIES_COLUMN]==s]['prediction_interval_upper_bound'],
                    yaxis = f"y{y+1}",
                    hoverinfo='name+x+text',
                    line = {'width': 2, 'color': 'rgb(0,128,0)'},
                    mode = 'lines',
                    fillcolor = 'rgba(0,128,0,0.5)',
                    fill = 'tonexty',
                    showlegend = False,
                    visible = (b==0) # make a series visible as default: this uses the first series
                )
            )
            # add the forecast fit
            fig.add_trace(
                go.Scatter(
                    x = explain[explain[SERIES_COLUMN]==s][TIME_COLUMN],
                    y = explain[explain[SERIES_COLUMN]==s]['time_series_adjusted_data'],
                    name = f'Forecast: {v}',
                    text = explain[explain[SERIES_COLUMN]==s]['time_series_adjusted_data'],
                    yaxis = f"y{y+1}",
                    hoverinfo='name+x+text',
                    line = {'width': 2, 'color': 'rgb(255,234,0)'},
                    mode = 'lines',
                    showlegend = False,
                    visible = (b==0) # make a series visible as default: this uses the first series
                )
            )
    
    # which button to show:
    ff = 3 # count of forecast related traces add to each series
    which_buttons = [False] * len(series) * (len(variables) + ff)
    which_buttons[b * (len(variables) +ff):(b+1)*(len(variables) + ff)] = [True] * (len(variables) + ff)

    # create button for series:
    button = dict(
        label = s,
        method = 'update',
        args = [{'visible': which_buttons}]
    )
    buttons.append(button)
    b += 1

# configure axes layout:
layout = dict(
    xaxis =  dict(
        #range = [keyDates['end_date'][0] - 2*(keyDates['end_date'][0] - keyDates['val_start'][0]), keyDates['end_date'][0]+timedelta(days = FORECAST_HORIZON_LENGTH)],
        range = [datetime(2022, 1, 1), datetime(2024, 1, 30)],
        rangeslider = dict(
            autorange = True,
            #range = [keyDates['start_date'][0], keyDates['end_date'][0]+timedelta(days = FORECAST_HORIZON_LENGTH)]
            range = [datetime(2019, 1, 1), datetime(2024, 1, 30)]
        ),
        type = 'date'
    )
)
for v, variable in enumerate(variables):
    layout[f'yaxis{v+1}'] = dict(
        anchor = 'x',
        domain = [v*(1/len(variables)), (v+1)*(1/len(variables))],
        autorange = True,
        mirror = True,
        autoshift = True,
        title = dict(text = variable, standoff = 10 + 20 * (v % 2), font = dict(color = colors[v])),
        tickfont = dict(color = colors[v]),
        tickmode = 'auto',
        linecolor = colors[v],
        linewidth = 4,
        showline = True,
        side = 'right',
        type = 'linear',
        zeroline = False
    )

# final update of display before rendering
fig.update_layout(
    layout,
    title = 'Time Series Plots:',
    dragmode="zoom",
    hovermode="x",
    legend=dict(traceorder="reversed"),
    height=600,
    template="plotly_white",
    margin=dict(
        t=100,
        b=100
    ),
    updatemenus = [
        dict(
            buttons = buttons,
            type = 'dropdown',
            direction = 'down',
            x = 1,
            y = 1.2,
            showactive = True
        )
    ]
)

# render the interactive plot:
fig.show()

---
## Early Categorization of New Customers